@*
*@
@{
    ViewBag.Title = "My Podcasts";
}

<div class="text-center">
    <br />
    <!--link to the baconsale podcast site-->
    <h4><a href="https://baconsale.com/">Baconsale Podcast</a></h4>
</div>